* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(https://media4.giphy.com/media/3o7TKHFqNJfwpoP62A/giphy.gif?cid=ecf05e47px3u3wspduvfuxdgnb9ec7k3ipgzav4kc5zb9xha&rid=giphy.gif&ct=g);
    background-color:rgba(0, 0, 0, 0.12);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    
    margin: auto;
    
}
.registro {
    width: 40%;
    min-width: 900px;
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    border-color: gray;
    background-blend-mode: darken;
    border-radius: 3px;
    box-shadow: 0px 2px 8px 2px rgb(20 31 56 / 10%);
    
    
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

form img {
    margin-top: 10px;
    height: 90%;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex ;
    

}

.form-box, .form-date, .form-select, .form-submit {
    display: flex;
    height: fit-content;
    width: 90%;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.form-term{
    align-items: center;
    

}
.form-submit {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
}
label {
    margin-bottom: 5px;
    color: rgb(132, 147, 173);
    display: block;
    width: 100%;
}

.form-box input {
  
    width: 100%;
    line-height: 30px;
    height: 30px;
    padding: 0px 5px;
    font-size: 16px;
    outline: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgrey;
    color: rgb(85, 85, 85);
}

.form-date input {
    width: 100%;
    line-height: 30px;
    height: 30px;
    padding: 0px 5px;
    font-size: 16px;
    outline: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgrey;
    color: rgb(85, 85, 85);
}

.form-select select {
    width: 100%;
    line-height: 30px;
    height: 30px;
    padding: 0px 5px;
    font-size: 16px;
    outline: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgrey;
    color: rgb(85, 85, 85);
}

.form-submit button {
    display: flex;
    height: 32px;
    padding: 0 30px;
    outline: none;
    background-color: #FEBD6A;
    border: 0;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #3a3737;
}
input:focus, select:focus{
    border: 1px solid #39c;
}

a {
    color: rgb(84 105 255);
    text-decoration: none;
    margin-bottom: 6px;
    font-size: 12px;
}

a:hover {
    text-decoration: underline;
}

@media(max-width: 1250px) {
    .registro {
        width: 50%;
        min-width: 500px;
        margin: auto;

    }

    .form-box input {
        width: 100%;
    }
}

@media(max-width: 520px) {
    .registro {
        width: 95%;
        min-width: 300px;
        padding: 10px;
    }

    .registro div {
        width: 100%;
    }

    .form-box input {
        width: 100%;
    }

    .form-submit button {
        width: 100px;
    }
}